.header {
  background-color: #1c1c1f;
  color: #FFF;
  font-size: 40px;
}

.vl {
    border-left: 3px solid white;
    height: 65px;
    position: absolute;
    left: 350px;
    top: 0;
}

h1 {
  font-size: 40px;
  margin: 10px;
}

h2 {
  font-size: 20px;
  margin-left: 50px;
}

a {
  color: white;
  text-decoration: none;
}
