<div class="recipe">
  <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ recipe.name }}</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-subtitle>
        <img matCardImage [src]="recipe.picture">
        <span>{{ recipe.description }}</span>
      </mat-card-subtitle>
    <button mat-raised-button (click)="deleteRecipe()">
      Delete
    </button>
    <div *ngIf="recipe.ingredients">
      <button mat-raised-button>
        <a href="#" routerLink="/recipes/{{ recipe.id }}">Details</a>
      </button>
      <button mat-raised-button (click)="toggleExpand()">
        {{ seeText }}
      </button>
      <mat-card-content *ngIf="isExpanded">
        <h3>Ingredients</h3>
        <mat-list *ngFor="let ingredient of recipe.ingredients">
          <mat-list-item>
            <p mat-line>{{ ingredient.name }}: {{ ingredient.quantity }}{{ ingredient.unit }}</p>
          </mat-list-item>
        </mat-list>
        <h3>Instructions</h3>
        <mat-list *ngFor="let instruction of recipe.instructions | toArray">
          <mat-list-item>
            <p mat-line>{{ instruction }}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </div>
  </mat-card>
</div>
