<div class=recipeDetails>
  <mat-card *ngIf="recipe; else error">
    <div>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ recipe.name }}</h3>
        </mat-card-title>
      </mat-card-header>

      <mat-card-subtitle>
        <img matCardImage [src]="recipe.picture">
        <span>{{ recipe.description }}</span>
      </mat-card-subtitle>
    </div>
    <div>
      <mat-card-content>
        <h3>Ingredients</h3>
        <mat-list *ngFor="let ingredient of recipe.ingredients">
          <mat-list-item>
            <p mat-line>{{ ingredient.name }}: {{ ingredient.quantity }}{{ ingredient.unit }}</p>
          </mat-list-item>
        </mat-list>
        <h3>Instructions</h3>
        <mat-list *ngFor="let instruction of recipe.instructions">
          <mat-list-item>
            <p mat-line>{{ instruction }}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <button mat-raised-button>
        <a href="#" routerLink="/recipes">Go back</a>
      </button>
    </div>
  </mat-card>
</div>

<ng-template #error> Id not found ! </ng-template>
