.formAdd {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  justify-content: center;
}

mat-form-field {
  margin: 10px;
}

button {
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}
